<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuckMeetingPlus.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FuckMeetingPlus.UserSettings>
            <setting name="Path" serializeAs="String">
                <value>E:\Tencent Room\WeMeet\wemeetapp.exe</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>2024/05/15/17/05</value>
            </setting>
            <setting name="MeetingId" serializeAs="String">
                <value>114514</value>
            </setting>
            <setting name="X1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Y1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="X2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Y2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Waiting" serializeAs="String">
                <value>5</value>
            </setting>
        </FuckMeetingPlus.UserSettings>
    </userSettings>
</configuration>